a{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
i{
    font-size: 100px;
    position: absolute;
    color: white;
    margin: 10px;
}
div{
    width: 240px;
    height: 240px;
    left: 45%;
    position: relative;
    display: inline-block;
}
#red{
    background-color: red;
    left: 110px;
    bottom: 120px;
    transform: rotate(90deg);
}
#blue{
    background-color: blue;
    top: 110px;
    left: 110px;
    transform: rotate(180deg);

}
#green{
    background-color: green;
    top: 110px;
}
#yellow{
    background-color: yellow;
    transform: rotate(270deg);
}