div.bg-success{ 
    border-color: white;  
    border-width: 1.5px;
    border-style: solid;
    padding-top: 5px;
}
p{
    text-align: center;
    color: white;
    font-weight: bold;
}
div.bg-danger{
    border-color: white;  
    border-width: 1.5px;
    border-style: solid;
    padding-top: 5px;
}
