
body {
    background-color: red;
}
#pequeno{
    display: none;
}

@media only screen and (max-width: 799px) {
    body {
        background-color: green;
    }
    #grande{
        display: none;
    }
    #pequeno{
        display:block;
    }

}

