
body {
    padding: 50px;
    background-color: beige;
    padding: 60px;
}

h1 {
    color: brown;
}
.courier{
    font-style: courier;
    
}
h1.fnt-red {
    color: red;
    }
    
    .fnt-blue {
    color: blue;
    }
    
    #nombre_alumno {
        color: red;
        text-decoration: underline;
    }
    .titulo {
        color: blue;
        font-size: 30px;
        font-style: italic;
    }
    .texto{
        color:darkblue;
        font-size: 15px;
    }
    .destacado{
        font-style: italic;
        font-weight: bold;
    }
    .bicis {
        width: 250px;
        height: 250px;
        padding: 5px;
    }
    .float{
        position: relative;
        top: 30px;
        left: 100px;
    }
        #tienda{
        background-color:green;
        text-align: center;
    }
    #tienda span{
        display: inline-block;
        background-color: burlywood;  
        margin: 5px;
        border-radius: 4px;
        
       
    }
    .iconos{
        width: 280px;
    }
    .iconos img {
        width: 50px;
        height: 50px;
    }
    p{
        font-weight: bold;
        padding: 15px;
    }
    h4{
        font-weight: bold;
        font-size: 1.5em;
        padding-left: 15px;
        text-align: left;
    }
    h5{
        padding-left: 15px;
        font-size: 1em;
        text-align: left;
    }
    .iconos div{
        display: inline-block;
        width: 49%; 
        text-align: center;
       }
       div.foto{
           position: relative;
       }
       .float{
           position: absolute;
           z-index: 1;
       }

#cabecera{
    position: fixed;
    background-color: blue;
    width: 100%;
    top: 0;
    left: 0;
}
#cabecera h2{
    text-align: center;
    color: white;
}
#pie{
    position: fixed;
    background-color: red;
    width: 100%;
    bottom: 0;
    left: 0;
}
#pie h2{
    text-align: center;
    color: black;
}
.volver{
    text-align: center;
    font-size: 50px;
}
div.contanidor{
    background-color: darkred;
    width: 50%;
    height: 200px;
    position: relative;
    left: 25%;

}
p.forever{
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 10%;
}
#izqUP{
    background-color: white;
    border-width: 5px;
    border-color: darkred;
    border-radius: 100%;
    position: absolute;
    top: -30px;
    left: -30px;
    width: 60px;
    height: 60px;
    border-style: solid;
}
#izq{
    background-color: white;
    border-width: 5px;
    border-color: darkred;
    border-radius: 100%;
    position: absolute;
    bottom: -30px;
    left: -30px;
    width: 60px;
    height: 60px;
    border-style: solid;
}
#der{
    background-color: white;
    border-width: 5px;
    border-color: darkred;
    border-radius: 100%;
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 60px;
    height: 60px;
    border-style: solid;
}
#derUP{
    background-color: white;
    border-width: 5px;
    border-color: darkred;
    border-radius: 100%;
    position: absolute;
    top: -30px;
    right: -30px;
    width: 60px;
    height: 60px;
    border-style: solid;
 
}

#azul{
    background-color: aqua;
    position: relative;
    display: flex;

}

#azul p {
    position: relative;
    text-align: center;
}
#blanco{
    background-color: burlywood;
    position: absolute;
    width: 50%;
    height: 100%;

}       
    

