p{
    text-align: center;
    color: darkcyan;
}
h3{
    text-align: center;
    color: darkcyan;
}
hr{
    color: darkcyan;
}
.blue{
    background-color: darkcyan;
    height: 50px;
    width: 50%;
}
.blue_fino{
    height: 5px;
    background-color: darkcyan;
    width: 100%;
}
#iva{
    text-align: right;
}